.project__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.project__item {
   
  background:  rgba(94, 63, 9, 0.4);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid orange;
  transition: var(--transition);
}



.project_item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.project_item h3{
    margin: 1.2rem 0 2rem;
    
}

.project__item-cta {
  display:flex ; 
  gap: 1rem;
  margin-bottom:1rem ;
}

.project__role {
  color: white;
  background-color: transparent;
  padding: 0.4rem 1rem;
  border: 1px solid orange;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  display: inline-block;
}


.project__item h3 {
  margin: 1.2rem 0 2rem;
  color: orange; /* <-- Change to any color you prefer */
  font-size: 1.1rem;
}



/*introduction part*/

.project_intro {
  padding-left: 4rem;
  padding-bottom: 2rem;
  flex: 1;
}

.project_intro h1,
.project_intro h4 {
  text-align: left;
}

.project_intro h1{
    color: white;
}


/*hi*/
.project_header {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 7rem 1rem;
}


.project_para {
  flex: 1;
}

.project_para p {
  text-align: justify;
  font-size: 0.95rem;
  line-height: 1.5;
  padding-top: 5rem;
}





/*=============MEDIA QUERIES(MEDIUM DEVICES) ===============*/
@media screen and (max-width: 1024px){
    .project__container{
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;

    }
}

/*=============MEDIA QUERIES(SMALL DEVICES) ===============*/
@media screen and (max-width: 600px){
  .project__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}