.blueprintsB-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* LEFT SECTION */
.blueprintsB-left {
  flex: 0 0 50%;
  padding-right: 2rem;
  margin-left: 1.5rem;
}

.blueprintsB-subtitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.highlight {
  color: #ffa31a;
}

.blueprintsB-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: orange;
}

.blueprintsB-description {
  font-size: 0.95rem;
  color: #bbb;
  margin-bottom: 2rem;
  max-width: 850px;
  margin-top: 5rem;
  margin-left: -5rem;
}

/* Service list */
.blueprintsB-list {
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}

.blueprintsB-list li {
  margin: 1.5rem 0;
  cursor: pointer;
  transition: 0.3s;
}

.blueprintsB-list li span,
.blueprintsB-list li.active {
  color: #ffa31a;
  font-weight: bold;
}

/* RIGHT SECTION */
.blueprintsB-right {
  flex: 0 0 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
}

.blueprintsB-header-right {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
  margin-left: -5rem;
}

.blueprintsB-header-right .icon {
  color: #ffa31a;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.blueprintsB-description-right {
  font-size: 0.95rem;
  color: #bbb;
  margin-bottom: 2rem;
  margin-left: -5rem;
  margin-top: 2rem;
}

.blueprintsB-cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-x: auto;
  margin-bottom: 2rem;
  margin-left: -5rem;
}

.card {
  background: #1b1b1b;
  padding: 0.8rem;
  width: 120px;
  min-width: 180px;
  height: 180px;
  border-radius: 8px;
  flex-shrink: 0;
}

.card h5 {
  margin-bottom: 0.5rem;
  font-weight: 100;
}

.card p {
  font-size: 0.8rem;
  margin: 0;
}

/* Scrolling Icons */
.tech-stack {
  margin-bottom: 2rem;
  margin-left: -5rem;
  width: 100%;
}

.tech-stack span {
  font-size: 0.8rem;
  color: orange;
  margin-bottom: 0.5rem;
  display: block;
}

.icons-scroll {
  width: 100%;
  overflow: hidden;
}

.scroll-wrapper {
  display: flex;
  gap: 2rem;
  animation: scrollIcons 15s linear infinite;
}

.tech-icon {
  font-size: 1.8rem;
  color: #ffa31a;
  margin-top: 0rem;

}

/* Animation */
@keyframes scrollIcons {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.explore {
  display: flex;
  align-items: center;
  color: #ffa31a;
  cursor: pointer;
  font-weight: bold;
}

.arrow {
  margin-left: 0.3rem;
}

/* Responsive */
@media (max-width: 1024px) {
  .blueprintsB-section {
    flex-direction: column;
    padding: 2rem;
  }

  .blueprintsB-left,
  .blueprintsB-right {
    flex: 1 1 100%;
    padding-right: 0;
    margin-left: 0;
  }

  .blueprintsB-description,
  .blueprintsB-header-right,
  .blueprintsB-description-right {
    margin-left: 0;
    text-align: left;
  }
}
