footer{
    background: black;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a{
    color: var(--color-bg);
}

.footer_logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}


/*Nav Icons*/
.footer-icon {
  font-size: 1.2rem;
  vertical-align: middle;
}



/* ============ Intro Content ============ */
.footer_intro {
  padding-left: 0;
  padding-top: 1rem;
}

.footer_intro h1{
  text-align: center;
}

.footer_intro h1 {
  color: orange;
}



/* Navigation container */
.button-footer {
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem; /* Increased gap between buttons */
  border-radius: 2rem;
  backdrop-filter: blur(15px);
}

/* Individual nav buttons */
.footer-btn {
  
  background: rgba(94, 63, 9, 0.4);       /* Semi-transparent brown */
  backdrop-filter: blur(10px);           /* Blur effect */
  -webkit-backdrop-filter: blur(10px);   /* Safari support */
  border-radius: 1rem;
  border: 0.002px solid orange; 
  padding: 0.6rem 1.2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 0.65rem;
  font-weight: 500;
  color: orange;
  transition: all 0.3s ease;

  display: inline-flex;         /* Make content align inline */
  align-items: center;          /* Vertically align center */
  gap: 0.4rem;                  /* Small space between text and icon */
}

.footer-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-btn.active {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border-color: var(--color-primary);
}


.footer_socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer_socials a{
    background: var(--color-bg);
    color: var(--color-white);
    padding : 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent
}
   
.footer_socials a:hover{
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer_copyright{
    margin-bottom: 4rem;
    color: var(--color-bg);
}


/*=============MEDIA QUERIES(SMALL DEVICES) ===============*/
@media screen and (max-width: 600px){
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer_socials{
        margin-bottom: 2.6rem;
    }
}